@font-face { font-family: 'museo_sans500'; src: url("./museosans_500-webfont.woff2") format("woff2"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'fs_joeyheavy'; src: url("./fsjoey-heavy-webfont.woff2") format("woff2"); font-weight: normal; font-style: normal; }

html {
	background: url(bg.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body {
  font-size: 1.7em;
  font-weight: 400;
  font-family: 'museo_sans500', Arial,Tahoma,sans-serif;
  color: #555;
}

small {
  color: #999;
  font-size:0.75em;
}

.column,.columns,.container,.u-full-width {
  width: 100%;
  box-sizing: border-box;
}

h1,h2,h3 {
  letter-spacing: -.1rem;
}

body,h6 {
  line-height: 1.2;
  margin-top:10px;
  margin-bottom:10px;
}

.container {
	padding-top:10px;
	overflow:auto;
	position: relative;
	margin: 0 auto;
	padding: 0 30px;
	border-radius: 13px;
	background-color:#fff;
	opacity: 1;
	filter: alpha(opacity=100); /* For IE8 and earlier */
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.20);
}

ol,p,ul {
  margin-top: 0;
}

.column,.columns {
  float: left;
}

html {
  font-size: 62.5%;
}

h1,h2,h3,h4,h5,h6 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: 300;
}

h1 {
  font-size: 4rem;
  line-height: 1.2;
}

h2 {
  font-size: 3.6rem;
  line-height: 1.25;
}

h3 {
  font-size: 3rem;
  line-height: 1.3;
}

h4 {
  font-size: 2.4rem;
  line-height: 1.35;
  letter-spacing: -.08rem;
}

h5 {
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: -.05rem;
}

h6 {
  font-size: 1.5rem;
  letter-spacing: 0;
}

.button,button,input[type=submit],input[type=reset],input[type=button] {
  display: inline-block;
  height: 48px;
  padding: 0 20px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
}


@media (min-width:320px) {
  .container {
    width: 304px;
  }

  .column,.columns {
    margin-left: 4%;
  }

  .column:first-child,.columns:first-child {
    margin-left: 0;
  }

  .one.column,.one.columns {
    width: 4.66666666667%;
  }

  .two.columns {
    width: 13.3333333333%;
  }

  .three.columns {
    width: 22%;
  }

  .four.columns {
    width: 30.6666666667%;
  }

  .five.columns {
    width: 39.3333333333%;
  }

  .six.columns {
    width: 48%;
  }

  .seven.columns {
    width: 56.6666666667%;
  }

  .eight.columns {
    width: 65.3333333333%;
  }

  .nine.columns {
    width: 74%;
  }

  .ten.columns {
    width: 82.6666666667%;
  }

  .eleven.columns {
    width: 91.3333333333%;
  }

  .twelve.columns {
    width: 100%;
    margin-left: 0;
  }

  .one-third.column {
    width: 30.6666666667%;
  }

  .two-thirds.column {
    width: 65.3333333333%;
  }

  .one-half.column {
    width: 48%;
  }

  .offset-by-one.column,.offset-by-one.columns {
    margin-left: 8.66666666667%;
  }

  .offset-by-two.column,.offset-by-two.columns {
    margin-left: 17.3333333333%;
  }

  .offset-by-three.column,.offset-by-three.columns {
    margin-left: 26%;
  }

  .offset-by-four.column,.offset-by-four.columns {
    margin-left: 34.6666666667%;
  }

  .offset-by-five.column,.offset-by-five.columns {
    margin-left: 43.3333333333%;
  }

  .offset-by-six.column,.offset-by-six.columns {
    margin-left: 52%;
  }

  .offset-by-seven.column,.offset-by-seven.columns {
    margin-left: 60.6666666667%;
  }

  .offset-by-eight.column,.offset-by-eight.columns {
    margin-left: 69.3333333333%;
  }

  .offset-by-nine.column,.offset-by-nine.columns {
    margin-left: 78%;
  }

  .offset-by-ten.column,.offset-by-ten.columns {
    margin-left: 86.6666666667%;
  }

  .offset-by-eleven.column,.offset-by-eleven.columns {
    margin-left: 95.3333333333%;
  }

  .offset-by-one-third.column,.offset-by-one-third.columns {
    margin-left: 34.6666666667%;
  }

  .offset-by-two-thirds.column,.offset-by-two-thirds.columns {
    margin-left: 69.3333333333%;
  }

  .offset-by-one-half.column,.offset-by-one-half.columns {
    margin-left: 52%;
  }

  h1 {
    font-size: 5rem;
  }

  h2 {
    font-size: 4.2rem;
  }

  h3 {
    font-size: 3.6rem;
  }

  h4 {
    font-size: 3rem;
  }

  h5 {
    font-size: 2.4rem;
  }

  h6 {
    font-size: 1.5rem;
  }
}

@media (min-width:450px) {
  .container {
    width: 400px;
  }
}

@media (min-width:760px) {
  .container {
    width: 500px;
  }
  
  .button,button,input[type=submit],input[type=reset],input[type=button] {
	 padding: 0 40px;
  }
}

a {
  color: #00a980;
}

a:hover {
  color: #0FA0CE;
}


.button:focus,.button:hover,button:focus,button:hover,input[type=submit]:focus,input[type=submit]:hover,input[type=reset]:focus,input[type=reset]:hover,input[type=button]:focus,input[type=button]:hover {
  color: #333;
  border-color: #888;
  outline: 0;
}

.button.button-red{
  color: #FFF;
  background-color: #ff2400;
  border-color: #ff2400;
}

.button.button-red:hover{
  color: #FFF;
  background-color: #e12000;
  border-color: #e12000;
}

.button.button-primary,button.button-primary,input[type=submit].button-primary,input[type=reset].button-primary,input[type=button].button-primary {
  color: #FFF;
  background-color: #00d29f;
  border-color: #00d29f;
}

.button.button-primary:focus,.button.button-primary:hover,button.button-primary:focus,button.button-primary:hover,input[type=submit].button-primary:focus,input[type=submit].button-primary:hover,input[type=reset].button-primary:focus,input[type=reset].button-primary:hover,input[type=button].button-primary:focus,input[type=button].button-primary:hover {
  color: #FFF;
  background-color: #00a980;
  border-color: #00a980;
}

input[type=tel],input[type=url],input[type=password],input[type=email],input[type=number],input[type=search],input[type=text],input[type=date],select,textarea {
  height: 40px;
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}

input[type=tel],input[type=url],input[type=password],input[type=email],input[type=number],input[type=search],input[type=text],textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px;
}

input[type=tel]:focus,input[type=url]:focus,input[type=password]:focus,input[type=email]:focus,input[type=number]:focus,input[type=search]:focus,input[type=text]:focus,select:focus,textarea:focus {
  border: 1px solid #00d29f;
  outline: 0;
}

label,legend {
  display: block;
  font-weight: normal;
}

fieldset {
  padding: 0;
  border-width: 0;
}

input[type=checkbox],input[type=radio] {
  display: inline;
}

label>.label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: 400;
}

ul {
  list-style: circle inside;
}

ol {
  list-style: decimal inside;
}

ol,ul {
  padding-left: 0;
}

ol ol,ol ul,ul ol,ul ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%;
}

.button,button,li {
  margin-bottom: 1rem;
}

code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #F1F1F1;
  border: 1px solid #E1E1E1;
  border-radius: 4px;
}

pre>code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre;
}

td,th {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1;
}

td:first-child,th:first-child {
  padding-left: 0;
}

td:last-child,th:last-child {
  padding-right: 0;
}

fieldset,input,select,textarea {
  margin-bottom: 1.5rem;
}

blockquote,dl,figure,form,ol,p,pre,table,ul {
  margin-bottom: 2.5rem;
}

.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box;
}

.u-pull-right {
  float: right;
}

.u-pull-left {
  float: left;
}

hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1;
}

.container:after,.row:after,.u-cf {
  content: "";
  clear: both;
}

.goWidth {
  width: 100%;
}

.goHalfWidth {
  width: auto;
}


.imgThumbnailArea {
	width: 70px;
	height: 100px;
	border: 1px solid #666;
	position: relative;
	-float: left;
	line-height: 70px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
}

.stepClass{
	display:none;
}

.active{
	display:block;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.btn-group>.btn-group, .btn-toolbar .btn, .btn-toolbar .btn-group, .btn-toolbar .input-group, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .dropdown-menu {
    float: left;
}


.btnPrevBox{
	position:absolute;
	left:0px;
}

.btnNextBox{
	position:absolute;
	right:0px;
}